* {
	margin: 0;
	padding: 0;
}

#main {
	width : 710px;
	margin: 0 auto;
	margin-left: 0;
	background-color: #FFFFFF;
}

#header {
	padding: 10px;
	position: relative;
	background-color: #0D1F30;
	color: #F0E3C0;
}

#content {
	padding: 50px;
	color: #000000
}

body {
    font-family: sans-serif;
    font-size: 12pt;
}

a:link {
    color: #000000
}

a:visited {
    color: #000000
}

h1 {
    font-size: 140%;
    margin-top: 20px;
}

h2 {
    font-size: 120%;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}
