* {
	margin: 0;
	padding: 0;
}

#main {
	width : 710px;
	margin: 0 auto;
	margin-left: 0;
}

#content {
	padding: 50px;
	color: #000000;
}

#home {
    background-image: url('images/home.png');
}

#detail {
    background-image: url('images/trainer.png');
}

#profilbild {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #E6007E;
}


body {
    font-family: sans-serif;
    font-size: 12pt;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

a:link {
    color: #000000
}

a:visited {
    color: #000000
}

h1 {
    font-size: 140%;
    margin-top: 20px;
}

h2 {
    font-size: 120%;
    margin-top: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;

}

ul {
    list-style-type: none;
}

hr {
    border: solid #E6007E 1px;
    background-color: #E6007E;
    height: 1px;
}
